    .quick-links {
        background-color: #272625;
        color: #CFCFCF;
        text-transform: capitalize;
        width: 100%;
        left: 50%;
        display: flex;
        justify-content: center;
        padding: .2rem 8rem 1.4rem;
        clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);

        @media screen and (max-width: 900px) {
            padding: .2rem 1rem 1.4rem;
        }

        span {
            padding: 0 1rem;
        }
    }

    h1 {
        color: white;
        font-size: 2.2rem;
        margin: .7rem 0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 10;

        .burger {
            background-color: transparent;
            border: none;
            font-size: 2.5rem;
            color: white;

            @media screen and (max-width: 510px) {
                display: none;
            }
        }

        .category {
            padding: .4rem 1rem;
            color: white;
            background-color: #30302E;
            position: relative;
            margin-left: 1rem;
            font-weight: 500;
            font-size: 1rem;

            @media screen and (max-width: 510px) {
                padding: .4rem .1rem;

            }
        }

        .search {
            display: flex;
            flex-grow: 1;
            margin: 0 1rem;

            input {
                border-radius: 3px 0 0 3px;
                padding: 0 1.2rem;
                width: 100%;
            }

            button {
                padding: .65rem;
                border-radius: 0 3px 3px 0;
                background-color: #EB6221;
                color: white;
            }
        }

        .tp-button {
            padding: .4rem 1rem;
            color: white;
            background-color: transparent;
            text-transform: uppercase;

            @media screen and (max-width: 510px) {
                display: none;
            }
        }


    }